@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply bg-[#0C1014] text-white font-sans h-screen;
	}

	::-webkit-scrollbar,
	::-webkit-scrollbar-track {
		width: 6px;
		scrollbar-width: 6px;
	}

	::-webkit-scrollbar-thumb {
		background-color: #292929;
		border: 1px solid #3b3a3a;
	}
}

@layer components {
	.fo-gradient-blue {
		background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab, #bec423);
		background-size: 400% 400%;
		animation-name: colour-transition;
		animation-duration: 4s;
		animation-iteration-count: infinite;
	}

	.xxx > div + div {
		margin-left: -9px;
	}

	@keyframes colour-transition {
		0% {
			background-position: 0% 50%;
		}
		25% {
			background-position: 25% 75%;
		}
		50% {
			background-position: 100% 50%;
		}
		75% {
			background-position: 75% 25%;
		}
		100% {
			background-position: 0% 50%;
		}
	}
}
