@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-black font-sans;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track {
	width: 6px;
	scrollbar-width: 6px;
}

::-webkit-scrollbar-thumb {
	background-color: #292929;
	border: 1px solid #3b3a3a;
}
