@import 'tailwindcss';

:root {
	--background: oklch(14.5% 0 0);
	--foreground: oklch(98.5% 0 0);
	--primary: oklch(0.7042 0.1466 233.7);
	--primary-foreground: oklch(98.5% 0 0);
	--secondary: oklch(98.5% 0 0);
	--secondary-foreground: oklch(14.5% 0 0);
	--accent: oklch(0.7042 0.1466 233.7);
	--accent-foreground: oklch(98.5% 0 0);
	--muted-foreground: oklch(0.4419 0.0146 285.79);
}

.light {
	color-scheme: light;
}

.dark {
	color-scheme: dark;
}

@theme {
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-muted-foreground: var(--muted-foreground);
	--spacing-default: 1168px;
	--font-sans: Poppins, Arial, Helvetica, system-ui, -apple-system, sans-serif;
}

html,
body {
	height: 100%;
}
